<div class="row mt-4">
    <div class="col-md-6 d-md-block d-none" style="height: 450px;">
        <div class="text-center col-md-12 my-auto side-header">
            <h1>User Registration</h1>
            <img src="../../../../assets/registerImage.png" class="my-4 img-fluid" alt="" width="400px">
        </div>
    </div>
    <div class="container mx-auto shadow bg-white rounded my-5 p-5 custom-card justify-content-center">

    <div class="justify-content-center">
        <form class="p-1">
            <div class="pb-2 d-md-none d-block">
                <h3 class="border-bottom">User Registration</h3>
            </div>
            <div class="form-row">
                <div class="form-group ">
                    <label for="primeiroNome">First Name</label>
                    <input type="text" class="form-control" id="primeiroNome" placeholder="Insira o Primeiro nome">
                </div>
                <div class="form-group ">
                    <label for="ultimoNome">Last Name</label>
                    <input type="text" class="form-control" id="ultimoNome" placeholder="Insira o Último nome">
                </div>
            </div>
            <div class="form-group ">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Insira o Email">
            </div>
            <div class="form-group ">
                <label for="usuario">User</label>
                <input type="text" class="form-control" id="usuario" placeholder="Insira o nome de Usuário">
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label for="senha">Password</label>
                    <input type="password" class="form-control" id="senha" placeholder="Digite uma Senha">
                </div>
                <div class="form-group">
                    <label for="confirmarSenha">Confirm Password</label>
                    <input type="password" class="form-control" id="confirmarSenha" placeholder="Confirme a Senha">
                </div>
            </div>
            <div class="form-row p-1 mb-3 text-center mg-top">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                    <label class="custom-control-label" for="customCheck1"> I agree to the <a href="#">Terms of Service</a>.</label>
                </div>
            </div>
            <div class="form-row text-center">
                <div class="form-group col-12">
                    <button class="btn btn-lg btn-success btn-block px-5" type="submit">Register</button>
                </div>
            </div>
            <div class="form-row text-center mg-top">
                <div class="form-group col-12">
                    <a class="btn btn-link btn-block" href="#">Login</a>
                </div>
            </div>
        </form>
    </div>
    </div>

</div>
