<app-page-title [title]="'Events'"></app-page-title>

<div class="row g-3 align-items-center">
  <div class="col-auto">
    <label for="inputPassword6" class="col-form-label">Search:</label>
  </div>
  <div class="col-auto">
    <input
    type="text"
    class="form-control mr-2   col-auto"
    placeholder=""
    [(ngModel)]="filterList"
    >
  </div>
  <div class="col-auto">
    <span id="passwordHelpInline" class="form-text">
      Seach by: Theme or Local
    </span>
  </div>
</div>



<table class="table table-striped-columns">
  <thead class="table-dark">
    <tr>
      <th>#</th>
      <th>
        <button type="button" class="btn btn-outline-light btn-sm"
        (click)="changeImage()">
        <i ngClass="{{!showImage ? 'fa fa-eye' : 'fa fa-eye-slash'}}"></i>
        {{!showImage ? 'Show' : 'Hide'}}
        </button>
      </th>
      <th>Theme</th>
      <th>Location</th>
      <th>Date</th>
      <th>Number of People</th>
      <th>Batch</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody *ngIf="events && events.length">
    <tr *ngFor="let event of filteredEvents">
      <td>{{event.id}}</td>
      <td>
        <img [collapse]="!showImage"
             [isAnimated]="true"
          src="/assets/{{event.imgUrl}}"
          [style.width.px]="imageWidth"
          [style.margin.px]="imageMargin"
        >
      </td>
      <td>{{event.theme}}</td>
      <td>{{event.local}}</td>
      <td>{{event.eventDate | dateTimeFormatPipe}}</td>
      <td>{{event.numberOfPeople}}</td>
      <td>{{event.batch[0].name}}</td>
      <td class="text-center">
        <button type="button" class="btn btn-primary btn-sm me-2" tooltip="Edit">
        <i ngClass="fa fa-edit"></i>
        </button>
        <button type="button" class="btn btn-danger btn-sm" (click)="openModal(template)" tooltip="Delete">
        <i ngClass="fa fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!events.length">
    <tr>
      <td colspan="8" class="text-center">
        <h4>No events found!</h4>
      </td>
    </tr>
  </tfoot>
</table>

<ng-template #template>
  <div class="modal-body text-center">
    <p>Do you want to confirm?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Yes</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
  </div>
</ng-template>