<div class="card rounded shadow-sm p-3"> 

    <form class="row g-3">
 		<div class="form-group col-md-12">
          <label class="form-label">Theme:</label>
          <input type="text" class="form-control" placeholder="Insert Theme">
        </div>
        <div class="col-md-8 form-row">
          <label class="form-label">Location</label>
          <input type="password" class="form-control" placeholder="">
        </div>
        <div class="col-4">
          <label class="form-label">Date Time</label>
          <input type="datetime" class="form-control" id="inputAddress">
        </div>
        <div class="col-2">
          <label class="form-label">amount of people:</label>
          <input type="text" class="form-control" placeholder="0">
        </div>
        <div class="col-md-4">
          <label for="inputCity" class="form-label">Telephone</label>
          <input type="text" class="form-control" placeholder="(000) 90000-0000">
        </div>
        <div class="col-md-6">
          <label  class="form-label">Email</label>
          <input type="text" class="form-control" placeholder="e-mail">
        </div>
        
        <div class="card-footer">
            <div class="d-flex justify-content-between">
                <button class="btn btn-outline-secondary mr-auto border">
                    Cancel
                </button>
                <button class="btn btn-success">
                    <span class="spinner-border spinner-border-sm mr-1"></span>
                    Save
                </button>
            </div>
        </div>
        
      </form>
